<div class="saving_game">
	<h1>Save your game</h1>
	<div class="save_slot <%= $player[:slot] == 1 ? 'selected' : '' %>">Save1</div>
	<div class="save_slot <%= $player[:slot] == 2 ? 'selected' : '' %>">Save2</div>
	<div class="save_slot <%= $player[:slot] == 3 ? 'selected' : '' %>">Save3</div>
</div>